{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-post" data-note-id="{{ note.id }}" id="note">
    <article class="post-content">
        <h1>{{ note.title }}</h1>
        <p class="post-date">Дата: {{ note.created_date }}</p>
        <p class="post-date">Автор: {{ note.profile.user.username }}</p>
        {% if user.is_authenticated %}
        {% if user.profile != note.profile %}
        {% if not in_favorites %}
        <b><a id="FavoriteButton" href="{% url 'api_favorites' note.profile.id %}?next={% url 'note_detail' note.id %}">Добавить в избранное</a></b>
        {% else %}
        <b><a id="UnfavoriteButton" href="{% url 'api_unfavorites' note.profile.id %}?next={% url 'note_detail' note.id %}">Убрать из избранного</a></b>
        {% endif %}
        {% endif %}
        {% endif%}

        <p>{{ note.text }}</p>
    </article>



    <!-- Блок комментариев -->
    <div class="comments-section">
        <h4>Комментарии ([[ comments.length ]])</h4>


        <div class="comment" v-for="comment in comments">
            <p class="comment-author">[[ comment.profile ]]</p>
            <p class="comment-text">[[ comment.text ]]</p>
        </div>
    </div>


        <!-- Форма добавления комментария -->
        <div class="comment-form">
            <h4>Добавить комментарий</h4>
            <div style="color:red" class="formErrors"></div>
            <form id="CommentForm" action="{% url 'comments_add_rest' note.id %}" method="post">
                {% csrf_token %}
                {{ comment_add_form }}

                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>


{% endblock %}

    {% block extra_js %}

 <script>
        const { createApp } = Vue

        createApp({
          delimiters: ['[[', ']]'],
          data() {
            return {
              baseUrl: 'http://127.0.0.1:8000/',
              message: 'Hello vue!',
              comments: []
              }
            },
            methods: {
                getComments(){
                    let note_id = document.getElementById('note').dataset.noteId;
                    axios.get(`${this.baseUrl}/api/rest/notes/${note_id}/comments`)
                    .then(response => {
                        this.comments = response.data.comments
                    })
                }
            },
            mounted (){
                this.getComments()
            }
        }).mount('#note')
    </script>

    <script src="test.js"></script>
    <script src="{% static 'js/note_detail.js' %}"> </script>
    {% endblock %}