{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6">

        <h1>Добавление Заметки</h1>

        <form action="{% url 'note_edit' note_add_form.instance.id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ note_add_form.title.id_for_label }}">Заголовок</label><br>
                {{ note_add_form.title }}
                {{ note_add_form.title.errors }}<br>
            </div>
            <div class="mb-3">
                <label for="{{ note_add_form.text.id_for_label }}">Текст</label><br>
                {{ note_add_form.text }}
                {{ note_add_form.text.errors }}<br>
            </div>
            <div class="mb-3">
                <label for="{{ note_add_form.category.id_for_label }}">Выберите категорию:</label>
                <br>
                {{ note_add_form.category }}
                {{ note_add_form.non_field_errors }}<br>
            </div>
            <input type="submit" value="Добавить">

        </form>
    </div>
</div>
{% endblock %}