{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-post">
    <article class="post-content">
        <h1>{{ note.title }}</h1>
        <p class="post-date">Дата: {{ note.created_date }}</p>
        <p class="post-date">Автор: {{ note.profile.user.username }}</p>
        {% if user.is_authenticated %}
        {% if user.profile != note.profile %}
        {% if not in_favorites %}
        <b><a id="FavoriteButton" href="{% url 'api_favorites' note.profile.id %}?next={% url 'note_detail' note.id %}">Добавить в избранное</a></b>
        {% else %}
        <b><a id="UnfavoriteButton" href="{% url 'api_unfavorites' note.profile.id %}?next={% url 'note_detail' note.id %}">Убрать из избранного</a></b>
        {% endif %}
        {% endif %}
        {% endif%}

        <p>{{ note.text }}</p>
    </article>



    <!-- Блок комментариев -->
    <div class="comments-section">
        <h4>Комментарии ({{ comments|length }})</h4>

        {% for comment in comments %}
        <div class="comment">
            <p class="comment-author">{{ comment.profile.user.username }}</p>
            <p class="comment-text">{{ comment.text }}</p>
        </div>

        {% endfor %}


        <!-- Форма добавления комментария -->
        <div class="comment-form">
            <h4>Добавить комментарий</h4>
            <form action="{% url 'note_detail' note.id %}" method="post">
                {% csrf_token %}
                {{ comment_add_form }}

                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

    {% block extra_js %}
    <script src="test.js"></script>
    <script src="{% static 'js/note_detail.js' %}"> </script>
    {% endblock %}