{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6">
        <h1>Добавление Заметки</h1>

        <form action="{% url 'note_add' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.title.id_for_label }}">Заголовок</label><br>
                {{ form.title }}
                {{ form.title.errors }}<br>
            </div>
            <div class="mb-3">
                <label for="{{ form.text.id_for_label }}">Текст</label><br>
                {{ form.text }}
                {{ form.text.errors }}<br>
            </div>
            <div class="mb-3">
                <label for="{{ form.category.id_for_label }}">Выберите категорию:</label>
                <br>
                {{ form.category }}
                {{ form.non_field_errors }}<br>
            </div>
            <input type="submit" value="Добавить">

        </form>
    </div>
</div>
{% endblock %}

