<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<h1>Тут будет использоваться vue.js </h1>

<div id="app">
    <h2 v-if="clicks>=10" style="color:blue">Вы набрали десять очков </h2>
    <h2 v-if="clicks>=50" style="color:blue" ><a href="https://ya.ru">Секретная ссылка </a></h2>
    [[ message ]]
    <p>Мое имя: [[ name ]]</p>
    <p>Cчетчик кликов [[ clicks ]]</p>
    <button @click="addScore">Клик</button>
    <button @click="getBonusClicks">Бонусные клики</button>

    <ul>Cписок дел
        <li v-for="task in todo">[[ task ]]</li>
    </ul>

    <ul>Мои покупки
        <li v-for="product in products">Название: [[ product.name ]], Цена [[ product.price ]]</li>
    </ul>

     <ul>Список фильмов
        <li v-for="film in films">[[ film ]]</li>
    </ul>
    <p>Cчетчик новых кликов [[ clicks2 ]]</p>
    <button @click="addMoreScore">Клик</button>
<br>
<br>
     <button @click="getNotes">Загрузить комментарии</button>

    <ul>Комментарии
        <li v-for="comment in comments"> [[ comment.text ]], Имя: [[ comment.profile ]] ID: [[ comment.id ]]</li>
    </ul>

    <button @click="getNotes">Загрузить заметки</button>

    <ul>Заметки
        <li v-for="note in notes"> [[ note.title ]]</li>
    </ul>

    <h2>Форма добавления отзыва на фильм</h2>
    <form @submit.prevent="addFilm" action="{% url 'film_add' %}" method="post">
        {% csrf_token %}
        <label>Название фильма</label>
        <p><input v-model="filmForm.title" id="title" name="title" type="text"></p>
        <label>Описание фильма</label>
        <p><input v-model="filmForm.text" id="text" name="text" type="text"></p>
        <button type="submit">Добавить</button>
    </form>

    <h2>[[ filmForm.title ]]</h2>




</div>

<script>
    const { createApp } = Vue

    createApp({
      delimiters: ['[[', ']]'],
      data() {
        return {
            filmForm: {
                title: '',
                text: ''
          },
          baseUrl: 'http://127.0.0.1:8000/',
          message: 'Hello vue!',
          name: 'Жека',
          clicks: 0,
          clicks2: 0,
          comments: [],
          posts: [],
          todo: ['Поспать', 'погулять', 'купить машину'],
          products: [{name: 'яблоко', price: '20'}, {name: 'молоко', price: '100'}],
          films: ['Назад в будущее', 'Терминатор', 'Пираты карибского моря']
          }
        },
        methods: {
            addScore(){
                this.clicks = this.clicks + 1
            },
            addMoreScore(){
                this.clicks2 = this.clicks2 + 5
            },
            getBonusClicks(){
                 const baseUrl = 'http://127.0.0.1:8000/'
                 axios.get(`${baseUrl}/api/rest/clicks`)
                    .then(response => {
                        this.clicks += response.data.clicks;
                    })
            },

            getComments(){
                axios.get(`${this.baseUrl}/api/rest/comments`)
                .then(response => {
                    this.comments = response.data.comments
                })
            },
            getNotes(){
                axios.get(`${this.baseUrl}/api/rest/notes`)
                .then(response => {
                    this.notes = response.data.notes
                })
            },
            addFilm(){
                const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
                const payload = this.filmForm

                axios.defaults.headers.common['X-CSRFToken'] = csrf_token;
                axios.post(`${this.baseUrl}/api/rest/film`, payload)
                .then(response => {
                    console.log(response.data.film)
                })
            }
        }
    }).mount('#app')
</script>

</body>
</html>